@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   --color-primary: #4db5ff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}


body {
  margin: 0;
  font-family: 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .container {
  max-width: 1240px;
  margin: auto;
} */

.btn1 {
  color: black;
  background-color: white;
  height: 70px;
  padding: 0 24px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1rem;
  transition: .4s;
  cursor: pointer;
}

.btn1:active{
  transform: translate(4px);
  border-bottom: none;
}

html{
  scroll-behavior: smooth;
}
