.select {
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    padding: 10px;
}

.delete-btn {
    color: #fff;
    padding: 12px 24px;
    background-color:rgba(243, 0, 0, 0.75);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: .4s;
    cursor: pointer;
  }

  .delete-btn:active{
    transform: translate(4px);
    box-shadow: 0px 0px 1px rgba(0,0,0,.2);
    border-bottom: none;
  }